
.time {

    text-align: center;
    padding: 32px;

}

.time h3 {

    font-style: 32px;
    border-bottom: 4px solid #fff;
    display: inline-block;
    padding-bottom: 8px;

}

.time .colaboradores {

    display: flex;
    justify-content: space-evenly;
    margin-top: 32px;
    flex-wrap: wrap;

}